* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-green: #34d399;
  --dark-green: #047857;
  --light-grey: #ecfdf5;
}

body {
  display: grid;
  grid-template-columns: max(17%, 400px) 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

body>div {
  border: 1px solid;
}

.header {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 20px 15px;
  padding-right: 40px;
}

.header-top {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto auto;
  gap: 15px;
  align-items: center;
  margin-bottom: 30px;
}

.search-bar {
  margin-right: 60px;
  margin-left: 20px;
  min-width: 100px;
  height: 30px;
  border-radius: 20px;
}

.name-top-right {
  font-weight: bold;
  font-size: 20px;
}

.header-bottom {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.profile-pic.large {
  width: 75px;
  height: 75px;
  border-radius: 40px;
  margin-right: 20px;
}

.header-text-top {
  font-weight: bold;
  font-size: 20px;
}

.header-text-bottom {
  font-weight: bold;
  font-size: 25px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 15px;
}

button {
  padding: 10px 25px;
  background-color: var(--light-green);
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
}

.sidebar {
  grid-row: 1/-1;
  padding: 15px;
  background-color: var(--light-green);
  color: white;
  /* font-weight: bold; */
  letter-spacing: 1px;
}

.sidebar-top {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

.sidebar-top>img {
  width: 50px;
}

.sidebar-top>span {
  font-size: 25px;
}

.sidebar-row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.sidebar-row>span {
  font-size: 25px;
}

.sidebar-row:nth-child(7) {
  margin-bottom: 100px;
}

.main {
  grid-column: 2/3;
  grid-row: 2/-1;
  display: grid;
  grid-template-columns: 1fr max(20%, 300px);
  padding: 20px;
  gap: 35px;
  background-color: var(--light-grey);
}

.main-title {
  margin-bottom: 10px;
  font-size: 25px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}

.card {
  border-left: 7px solid var(--dark-green);
  width: 350px;
  padding: 30px 20px 20px 20px;
  font-size: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .235);
}

.card-title {
  font-weight: bold;
}

.card-text {
  margin-bottom: 50px;
}

.card-icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.main-right {
  padding-right: 50px;
}

.announcements {
  border-radius: 10px;
  padding: 20px;
  padding-top: 30px;
}

.announcements-title {
  font-weight: bold;
}

.announcements-text {
  color: grey;
  margin-top: 5px;
}

hr {
  margin: 20px 0;
}

.main-title.trending-title {
  margin-top: 30px;
}

.trending {
  border-radius: 10px;
  padding: 20px;
}

.trending-profile {
  display: flex;
  gap: 15px;
  font-size: 17px;
  margin-bottom: 20px;
}

.nickname {
  color: grey;
}

.card,
.trending,
.announcements {
  box-shadow: 0 0 15px rgba(0, 0, 0, .235);
  background-color: white;
}

.icon {
  width: 35px;
}

.profile-pic {
  width: 50px;
  border-radius: 25px;
}