* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

body>div {
  border: 1px solid;
}

.header {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 20px 15px;
  padding-right: 40px;
}

.header-top {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto auto;
  gap: 15px;
  align-items: center;
  margin-bottom: 30px;
}

.search-bar {
  margin-right: 60px;
  margin-left: 20px;
  min-width: 100px;
}

.name-top-right {
  font-weight: bold;
  font-size: 20px;
}

.header-bottom {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.profile-pic.large {
  width: 75px;
  height: 75px;
  border-radius: 40px;
  margin-right: 20px;
}

.buttons{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 15px;
}

button{
  padding: 10px 25px;
}

.sidebar {
  grid-row: 1/-1;
  padding: 15px;
}

.sidebar-top{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

.sidebar-top > img{
  width: 50px;
}

.sidebar-top > span{
  font-size: 25px;
}

.sidebar-row{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.sidebar-row > span{
  font-size: 20px;
}

.sidebar-row:nth-child(7){
  margin-bottom: 100px;
}

.main {
  grid-column: 2/3;
  grid-row: 2/-1;
}

.icon {
  width: 35px;
}

.profile-pic {
  width: 50px;
  border-radius: 25px;
}